
{% extends "hosterbase.html" %}
{% block body %}
<h1>Add a New Bag</h1>

<form action="{{ server_prefix }}/createbag" method="POST">
    <p>Bag Name: <input
    name="bag"
    size="60"
    value="{{ user.name }}-{{ timestamp }}">
    <input type="radio" name="publicity" value="public" /><dfn
        title="Anyone can access and edit">Public?</dfn>
    <input type="radio" name="publicity" value="protected" /><dfn
        title="Members can access, you can edit.">Protected?</dfn>
    <input type="radio" checked="1" name="publicity" value="private"
    /><dfn title="Only you can access and edit">Private?</dfn>
    </p>
    <p>Description: <input
    name="description"
    size="120" /></p>
    <p><input type="submit" value="accept" /></p>
</form>
<p>A bag is a container for a collection of tiddlers. You can use them to
group tiddlers into logical partitions of topic or functionality. Each bag
gets a policy which controls who can read or edit the tiddlers in the bag.</p>
{% endblock %}
