
{% extends "hosterbase.html" %}
{% block body %}
<h1>Add a New Bag</h1>

<form action="{{ server_prefix }}/createbag" method="POST">
    <p>Bag Name: <input
    name="bag"
    size="60"
    value="{{ user.name }}-{{ timestamp }}">
    <input type="radio" name="publicity" value="public" /><abbr
        title="Anyone can edit">Public?</abbr>
    <input type="radio" name="publicity" value="protected" /><abbr
        title="Members can edit">Protected?</abbr>
    <input type="radio" checked="1" name="publicity" value="private"
    /><abbr title="Only you can edit">Private?</abbr>
    </p>
    <p>Description: <input
    name="description"
    size="120" /></p>
    <p><input type="submit" value="accept" /></p>
</form>

{% endblock %}
