<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    {% block head %}
        <link rel="stylesheet"
            href="{{ server_prefix }}/bags/hoster/tiddlers/{{ main_css}}"
        type="text/css" />
        {% block title %}
        <title>{{ title }}</title>
        {% endblock %}
    {% endblock %}
    </head>
    <body>
        <div>
        {% block header %}
            <div id='header' class="wide">
                <ul>
                    <li>User: <a
                        href="{{ userpage.link }}">{{ user.pretty_name }}</a></li>
                    <li><a href="{{ server_prefix }}/">TiddlyHoster</a></li>
                    <li><a href="{{ server_prefix
                        }}/members">Members</a></li>
                    <li><a href="{{ help.link }}">{{ help.title }}</a></li>
                    <li><form action="{{ server_prefix }}/logout"
                        method="POST"><input type="submit" value="logout" />
                    </form></li>
                </ul>
            </div>
            <div class='message'>
                {{ message }}
            </div>
        {% endblock %}
        </div>
        <div id='body'>
        {% block body %}
        {% endblock %}
        </div>
        <div id='footer' class="wide">
        {% block footer %}
            <ul>
                <li><a href="http://peermore.com/"><img
                    src="http://peermore.com/images/peermore100.png"
                    alt="peermore" /></a></li>
                <li><a href="http://www.osmosoft.com/"><img
                    src="http://www.osmosoft.com/images/logo.png"
                    width="100"
                    alt="osmosoft" /></a></li>
                <li>Hi I'm Part of the Footer</li>
                <li>This is <a href="http://tiddlyweb.com/">TiddlyWeb</a>
                {{ version }}</li>
            </ul>
        {% endblock %}
        </div>
    </body>
</html>
