<div id="friends" class="following">
{% if home != user.name and user.name != "GUEST" and home not in user_friends %}
<p><form action="{{ server_prefix }}/follow" method="POST">
    <input type="submit" value="follow" />
    <input type="hidden" name="name" value="{{ home }}" />
</form></p>
{% endif %}
<dfn title="Users getting attention.">Following:</dfn>
<ul class="entitylist">
{% for name, md5 in friends %}
<li><a class="draggable deleteable user" href="{{ server_prefix }}/{{ name|uri }}" title="{{ name }}">
    <img height="24" src="http://www.gravatar.com/avatar/{{ md5 }}.png"
    alt="{{ name }}" />{{ name }}</a></li>
{% endfor %}
</ul>
<dfn title="Bags getting attention.">Favorites:</dfn>
<ul class="entitylist">
{% for bag in favorites %}
<li><a class="draggable deleteable bag" href="{{ server_prefix }}/bags/{{ bag.name|uri }}/tiddlers">{{ bag.name }}</a>
<a href="{{ server_prefix }}/bags/{{ bag.name|uri }}/tiddlers.atom"
    title="feed"><img
    src="http://www.mozilla.org/images/feed-icon-14x14.png"
    alt="feed" /></a></li>
{% endfor %}
</ul>
<dfn title="Useful recipes.">Bookmarks:</dfn>
<ul class="entitylist">
{% for recipe in bookmarks %}
<li><a class="recipe deleteable" href="{{ server_prefix }}/recipes/{{ recipe.name|uri }}/tiddlers">{{ recipe.name }}</a>
<a href="{{ server_prefix }}/recipes/{{ recipe.name|uri }}/tiddlers.atom"
    title="feed"><img
    src="http://www.mozilla.org/images/feed-icon-14x14.png"
    alt="feed" /></a></li>
{% endfor %}
</ul>
</div>
