{% extends "hosterbase.html" %}
{% block body %}
{% if user.pretty_name == 'GUEST' %}
<h1>Welcome to TiddlyHoster!</h1>
<div id="welcome">
    <img width="500" src="/bags/hoster/tiddlers/cats.jpg" />
<p>TiddlyHoster is a service for storing and managing your tiddlers on the web. Tiddlers are
small bundles of content originally found in <a href='http://tiddlywiki.com/'>TiddlyWiki</a>.
They can be used on their own, assembled into complex documents, managed here on Hoster, and
viewed and used in a TiddlyWiki.</p>

<p>Hoster provides tools for grouping your tiddlers in containers called bags. Each bag can have
its own set of access controls, called a policy. Bags can be combined in recipes to build
custom collections of tiddlers for different purposes.</p>

<p>Hoster allows you to access your tiddlers with a TiddlyWiki which syncs with the server,
or you can access them directly with a web browser or other web capable tools. Build web
applications, data and content repositories, to do lists, dynamic web pages, whatever you like,
using tiddlers, <a href="http://tiddlyweb.com/">TiddlyWeb</a> and TiddlyHoster as the
storage medium.</p>

<p>Sound interesting? Yeah? <a class="buttonlink"
        href="{{ login.link }}">{{ register.title }}</a></p>

<p>If you're intrigued, have a look at <a href="http://tiddlyspace.com/">TiddlySpace</a> too.</p>
</div>
{% elif member_role in user.roles %}
<p>Hey, welcome back {{ user.pretty_name }}. You don't need to be here, you
should go straight to your <a
    href="{{ userpage.link }}">{{ userpage.title }}</a>.</p>
{% else %}
<p>Hi {{ user.pretty_name }}. You're logged in but not registered. If
you <a href="{{ register.link }}">{{ register.title }}</a> you can 
use TiddlyHoster.</p>
{% endif %}
{% endblock %}
