{% extends "base.html" %}
{% block body %}
{% if user.pretty_name == 'GUEST' %}
<p>Hello new person! Here at TiddlyHoster, you can create and
host as many TiddlyWikis as you like.</p>
<p>If you already have an account please <a
    href="{{ login.link }}">{{ login.title }}</a>.</p>
<p>If you haven't yet signed up, please <a
    href="{{ register.link }}">{{ register.title }}</a>.</p>
{% elif member_role in user.roles %}
<p>Hey, welcome back {{ user.pretty_name }}. You don't need to be here, you
should go straight to your <a
    href="{{ userpage.link }}">{{ userpage.title }}</a>.</p>
{% else %}
<p>Hi {{ user.pretty_name }}. You're logged in but not registered. If
you <a href="{{ register.link }}">{{ register.title }}</a> you can 
host some wikis.</p>
{% endif %}
{% endblock %}
