<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    {% block head %}
        <link rel="stylesheet"
            href="{{ server_prefix }}/bags/hoster/tiddlers/{{ main_css}}"
            type="text/css" />
        <link rel="stylesheet"
            href="/bags/hoster/tiddlers/ui.css"
            type="text/css" />
        {% block title %}
        <title>TiddlyHoster - {{ title }}</title>
        {% endblock %}
    {% endblock %}
    </head>
    <body>
        <div id="page">
        {% block header %}
            <div id='header' class="wide">
                <ul>
                    {% if user.name != "GUEST" %}
                    <li><a
                        href="{{ userpage.link }}">
                        <img src="{{ server_prefix}}/bags/hoster/tiddlers/cat.png"
                        alt="Home" /></a></li>
                    <li><a href="{{ server_prefix
                        }}/members">Members</a></li>
                    {% else %}
                    <li><a href="{{ server_prefix }}/">
                        <img src="{{ server_prefix}}/bags/hoster/tiddlers/cat.png"
                        alt="Home" /></a></li>
                    <li><a href="{{ login.link }}">{{ login.title }}</a></li>
                    {% endif %}
                    <li><a href="{{ help.link }}">{{ help.title }}</a></li>
                    <li><a
                        href="http://github.com/cdent/tiddlyhoster/issues">Issues</a></li>
                    {% if user.name != "GUEST" %}
                    <li><a
                        href="{{ server_prefix }}/feedbag?sort=-modified;limit=20">Feedbag</a></li>
                    <li><form action="{{ server_prefix }}/logout" method="POST">
                        <input type="submit" value="logout" />
                    </form></li>
                    {% endif %}
                </ul>
            </div>
            <div class='message'>
                {{ message }}
            </div>
        {% endblock %}
        <div id='content'>
        {% block body %}
        {% endblock %}
        </div>
        <div id='footer' class="wide">
        {% block footer %}
            <ul>
                <li><a href="http://peermore.com/"><img
                    src="http://peermore.com/images/peermore100.png"
                    alt="peermore" /></a></li>
                <li>This is TiddlyHoster on <a href="http://tiddlyweb.com/">TiddlyWeb</a>
                {{ version }}</li>
                <li><a href="{{ server_prefix
                    }}/bags/hoster/tiddlers/credits">Credits</a></li>
            </ul>
        {% endblock %}
        </div>
    </div>
    </body>
</html>
