<div id="profile">
    <div class="gravatar"><img
    src="http://www.gravatar.com/avatar/{{ email_md5 }}.png" alt="gravatar">
    </div>
    <div class="profilecontent">
    {{ profile }}
    </div>
    {% if home == user.name %}
    <div><form action="{{ server_prefix }}/formeditor"><input type="submit"
            name="edit" value="Edit profile"/> to say a bit about
            yourself.</form></div>
    <div><form action="{{ server_prefix }}/addemail" method="POST">
            {% if email %}
            <input name="email" size="40" value="{{ email }}"/><br />
            {% else %}
            <input name="email" size="40" value="email"/><br />
            {% endif %}
            <input type="submit" value="Set email" /> to set gravatar.</form></div>
    {% endif %}
    <div class="notifier">
        <h3>Latest Notification
    <span
        class="modified">{{notice.modified|format_modified}}</span></h3>
    {{ notice.html }}
    </div>
</div>
