<script type="text/html" id="template_recipeWidget">
    <div class="widget">
        <h3> <%= recipe.name %> </h3>
        <ol class="recipe selection sortable">
            <% for(var i = 0; i < recipe.recipe.length; i++) { %>
            <li>
            <img height="16" src="{{ server_prefix }}/bags/hoster/tiddlers/delete.png"
                 alt="delete" />
            <a href="{{ server_prefix }}/bags/<%= recipe.recipe[i][0] %>/tiddlers">
                <%= recipe.recipe[i][0] %></a>,
            <span class="filter"><%= recipe.recipe[i][1] %></span>
            </li>
            <% } %>
            <% for(var i = 0; i < bags.length; i++) { %>
            <li class="newbag">
            <img height="16" src="{{ server_prefix }}/bags/hoster/tiddlers/delete.png"
                 alt="delete" />
            <a href="{{ server_prefix }}/bags/<%= bags[i] %>/tiddlers">
                <%= bags[i] %></a>,
            <span class="filter"></span>
            </li>
            <% } %>
        </ol>
        <p>Drag any bag to reorder recipe.</p>
    </div>
</script>
